body{
  
}
.offcanvas{
  width: 80% !important;
 

}
.nav-item{

}
.offcanvas-backdrop.show {
  display: none;
}

.search-container {
  position: relative;
}
.form-control{
  display: none;
}
.search {
  padding-left: 30px; /* Adjust padding based on the icon size */
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #555; /* Adjust color as needed */
}

.cart-icon-container {
    position: relative;
    display: inline-block;
  }
  
  .count {
    position: absolute;
    top: -14px;
    right: -8px;
    background-color: red; /* Change this to your preferred color */
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 9px;
  }
  .navbar {
    padding: 15px 0;
  }
  
  .navbar-nav {
    margin-right: 0;
  }
  
  .nav-icon {
    display: flex;
  }
  .off{
    display: none;
  }
  .menubar{
    
    display: none;
    position: relative;
    top: 30%;
    margin-bottom: 5px;
    transform: translateX(-50%);
  }
  .bar{
    width: 20px;
    height: 3px;
    /* background-color: rgb(137, 130, 130); */
    background-color: #fff;
    margin-bottom: 3px;
  }
  .menubar{
  
  }
  @media (max-width: 768px) {
    .navbar-nav.icon li {
      margin-right: 10px; /* Adjust the value as needed */
    }
    .navbar-brand img {
      height: 80px;
    }
    .user{
      display: none;
    }
    .nav-icon{
      position: relative;
      left: 13%;
      transform: translateX(-50%);
    }
   
    .search-container {
      margin-right: 0;
    
    }
  .form-control{
    display: block;
  }
    .search {
      width: 100%; /* Adjust the width for smaller screens */
    }
    .text-white{
      color: rgb(156, 150, 150) !important;
    }
  }
  

/* Media query for smaller screens */
@media (max-width: 768px) {
  .navbar {
    padding: 10px 0;
  }

  .menubar {
    display: block;
    position: relative;
    left:50%;
    transform: translateX(-50%);
  }

  .navbar-nav {
    margin: 0;
  }
  .input-group input[type="text"]  {
    width: 180px;
    outline: none;
    border: none;
    position: relative;
    left: 40%;
    transform: translateX(-50%);
   }
  .nav-icon {
    position: relative;
    left: 7%;
    transform: translateX(-50%);
  
  }
  .search-container {
    margin-right: 0;
    width: 100%; /* Full width on small screens */
  }
  
}

.input-group input[type="text"]  {
  width: 180px;
  outline: none;
  border: none;
  position: relative;
  left: 40%;
  transform: translateX(-50%);
 }
.nav-icon {
  position: relative;
  left: 7%;
  transform: translateX(-50%);

}
@media (max-width: 400px) {
  .navbar{
    display: flex;
    justify-content: space-between;
  }
  .input-group input[type="text"]  {
    width: 150px;
    outline: none;
    border: none;
    position: relative;
    left: 12%;
    transform: translateX(-30%);
 
   }
  .nav-icon {
    position: relative;
    left: 10%;
    transform: translateX(-50%);
  
  }

}

@media (max-width: 350px) {
  .navbar-nav.icon li {
    margin-right: 10px; /* Adjust the value as needed */
  }
  .navbar-brand img {
    height: 50px;
  }
  .user{
    display: none;
  }
  .nav-icon{
    position: relative;
    left: 13%;
    transform: translateX(-50%);
  }
 
  .search-container {
    margin-right: 0;
  
  }
.form-control{
  display: block;
}
  .search {
    width: 100%; /* Adjust the width for smaller screens */
  }
  .input-group input[type="text"]  {
    width: 130px;
    outline: none;
    border: none;
    position: relative;
    left: 18%;
    transform: translateX(-30%);
 
   }
}
@media (max-width: 400px) {
  .offcanvas {
    width: 20%;
  }
  .custom-offcanvas {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
}
