

  @media (max-width: 768px) {
    .card {
      width: 100%; 
    
    }
  
    .card img {
      width: 100%; /* Set image width to 100% for smaller screens */
      height: auto; /* Allow image height to adjust proportionally */
    }
  
    .row {
      width: 110%; /* Set row width to 100% for smaller screens */
    }
  
    /* Add this to your CSS file */
.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

  }
