.pro img{

}

  @media (max-width: 768px) {
    .card {
      width: 100%; 
    
    }
  
    .card img {
      width: 100%; 
      height: auto;
    }
  
    .row {
      width: 110%; 
    }
  
    /* Add this to your CSS file */
.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

  }
