.card {
    position: relative;
    overflow: hidden;
  }
  
  .image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover .image-container {
    transform: translateX(0);
  }
  @media (max-width: 768px) {
    .img-fluid{
      width: 800px;
      height: 80%;
    }
    
  }
