a{
  text-decoration: none !important;
}
.float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366; /* Change the background color as needed */
  color: #fff; /* Change the text color as needed */
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  cursor: pointer;
}

.my-float {
  font-size: 24px;
}
.menubar{
  display: none;
}

@media (max-width: 767px) {
  .icon {
   /* Stack icons on top of each other */
    margin: 10px 0; /* Adjust the spacing between stacked icons */
    display: inline;
  }
  ul li .myicon{
    list-style: none;
    display: inline;
  }

}


@media (max-width: 768px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .product-col {
    width: 100%; /* Two items per row, with a small gap in between */
    margin: 1%; /* Add some margin to separate the items */
  }
  .card-img-top{
    width: 100px;
    height: 200px;
  }
  .border{
    border: none;
  }
  .men{
    width: 50%;
    height: 150px;
  }
  .woman{
    width: 50%;
    height: 150px;
  }
  .pro{
  height: 60px;
  width: 100%;
  }
  .page-item.disabled {
    margin-left: 0 !important;
  }
}
.float {
  bottom: 20px;
  right: 20px;
}

